/* Stylesheet */

:root {
    --first-color: #293040;
    --first-color-darker: #212734;
    --first-text-color: #ffffff;
    --second-color: #277cab;
}

html,
body {
    margin: 0;
    height: 100%;
    background: var(--first-color);
}

.text {
    color: var(--first-text-color);
    font-size: 16px;
}

.icon {
    height: 21px;
    width: auto;
}
